@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    width: 100%;  
    font-weight: 400; 
}

p {
    padding-bottom: 40px; 
}

.flex-container {
    display: flex;
    width: 100%;
    margin: 20px 30px;
    padding: 50px;
    font-family: 'Lexend Deca';
    line-height: 1.3;
    justify-content: center;
    align-content: center;


    
}

.sedans {
    background-color: var(--bright-orange);
    color: var(--transparent-white);
    padding: 20px;
}

.suvs {
    background-color: var(--dark-cyan);
    color: var(--transparent-white);
    padding: 20px;
}

.luxury {
    background-color: var(--very-dark-cyan);
    color: var(--transparent-white);
    padding: 20px;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    padding: 25px 25px 25px 0;
}

button {
    background-color: var(--transparent-white);
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

}

.suvs button {
    background-color:hsl(0, 0%, 95%);
    color: var(--dark-cyan);
    font-weight: 400;
    font-size: 15px;

}
.luxury button {
    background-color:hsl(0, 0%, 95%);
    color: var(--very-dark-cyan);
    font-weight: 400;
    font-size: 15px;
}
.sedans button {
    background-color: hsl(0, 0%, 95%);
    color: var(--bright-orange);
    font-weight: 400;
    font-size: 15px;

}

@media screen and (max-width: 375px){
    .flex-container {
        flex-direction: column;
    }
}